Flow 1_tab_394abc.2c647544.json
[
    {
        "id": "394abc.2c647544",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a8cf16f3.a3b7a8",
        "type": "function",
        "z": "394abc.2c647544",
        "name": "",
        "func": "var require = context.global.get('require'); \nmsg.payload = \"Hello from Interplay Base Binary One\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 600,
        "y": 360,
        "wires": [
            [
                "5e059805.8d1a78"
            ]
        ]
    },
    {
        "id": "f4bf30f9.a52de",
        "type": "http in",
        "z": "394abc.2c647544",
        "name": "",
        "url": "/base_two",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "a8cf16f3.a3b7a8"
            ]
        ]
    },
    {
        "id": "5e059805.8d1a78",
        "type": "http response",
        "z": "394abc.2c647544",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 980,
        "y": 240,
        "wires": []
    }
]