Flow 1_tab_7ce345d0.b6a81c.json
[
    {
        "id": "7ce345d0.b6a81c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "20f2bd4c.e3ae92",
        "type": "function",
        "z": "7ce345d0.b6a81c",
        "name": "",
        "func": "var require = context.global.get('require'); \nmsg.payload = \"Hello from Interplay Base Binary\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "26de1dde.e20152"
            ]
        ]
    },
    {
        "id": "e928abfa.753b98",
        "type": "http in",
        "z": "7ce345d0.b6a81c",
        "name": "",
        "url": "/base",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "20f2bd4c.e3ae92"
            ]
        ]
    },
    {
        "id": "26de1dde.e20152",
        "type": "http response",
        "z": "7ce345d0.b6a81c",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 820,
        "y": 220,
        "wires": []
    }
]