Flow 1_tab_9da4beb7.2e11f.json
[
    {
        "id": "9da4beb7.2e11f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "98e6c25f.023d2",
        "type": "function",
        "z": "9da4beb7.2e11f",
        "name": "",
        "func": "var require = context.global.get('require'); \nmsg.payload = \"Hello from Interplay Base Binary\";\nreturn msg;",
        "outputs": 1,
        "timeout": 10000,
        "newThread": false,
        "noerr": 0,
        "x": 580,
        "y": 260,
        "wires": [
            [
                "20bc9493.fedb0c"
            ]
        ]
    },
    {
        "id": "f1d5a9bd.50a778",
        "type": "http in",
        "z": "9da4beb7.2e11f",
        "name": "",
        "url": "/base",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "98e6c25f.023d2"
            ]
        ]
    },
    {
        "id": "20bc9493.fedb0c",
        "type": "http response",
        "z": "9da4beb7.2e11f",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 800,
        "y": 420,
        "wires": []
    }
]